[Unit]
Description=Run Jason Release Manager throughout the approved production window

[Timer]
OnCalendar=Mon..Fri *-*-* 00..04:00/5:00 America/New_York
OnCalendar=Mon..Fri *-*-* 17..23:00/5:00 America/New_York
OnCalendar=Sat,Sun *-*-* *:00/5:00 America/New_York
Persistent=true
RandomizedDelaySec=0
AccuracySec=15s
Unit=jason-release-manager.service

[Install]
WantedBy=timers.target
